@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

body{
    background-image: url(https://wallpaper.dog/large/20500188.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    width: 100%;
    height: 6rem;
    display: block;
    background: #700b97;
    background:linear-gradient(to left top, #3e065f, #4c0771, #5a0883, #690995, #7808a8, #7b07ad, #7f05b1, #8204b6, #7a03ad, #7102a5, #69019c, #610094);
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container a{
    padding-left: 1rem;
    display: table-cell;
    vertical-align: middle;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem;
}

.logo_container h1 span{
    color: black;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 0.8rem;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    color: white;
}

.navigation li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    color: white;
}

.user_login{
    float: right;
    height: 100%;
    padding-top: 1%;
    padding-right: 1rem;
    padding-left: 1.5rem;
}

.user_login a{
    vertical-align: middle;
    height: 20%;
    padding-top: 1%;
    padding-right: 1rem;
    padding-left: 1.5rem;
    padding-left: 2px;
}

.user_login li{
    display: table-cell;
    vertical-align: middle;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    color: white;
}

.icon_user{
    padding-left: 0.8rem;
    float: right;
    vertical-align: middle;
    font-size: 40px;
    color: white;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    margin: 1%;
    align-items: center;
}

section.sub_menu {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(6px);
    padding: 10px 0;
    text-align: center;
    color: white;
}

section.sub_menu input[type="submit"]{
    background: #9C19E0;
    color: white;
    padding: 4px 2px;
    text-align: center;
    display: inline-block;
    width: 80px;
    height: 38px;
    border-bottom: 6px solid #700B97;
    font-size: 14px;
    border-radius: 20px;
    margin: 0;
}

section.sub_menu input[type="submit"]:hover{
    background: #700B97;
    border-bottom: 6px solid #3E065F;
}

section.sub_menu i {
    font-size: 40px;
    padding-right: 2%;
}

section.sub_menu h2{
    font-weight: normal;
    margin: 2%;
    color: white;
}

section form{
    padding-left: 2%;
}

section.sub_menu h2>span {
    color: black;
}

section.sub_menu input{
    padding: 4px;
    width: 250px;
    height: 25px;
    border-radius: 20px;
    margin: 0;
}


/*Body*/


.new_button{
    height: 100%;
    width: 100%;
    background: white;
    align-items: center;
}

.func{
    float: right;
    padding: 0.5rem;
    background: #172774;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;
    transition: all 0.5s ease;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 35%;
}


.prodc{
    float: left;
    padding: 0.5rem;
    background: #172774;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;
    transition: all 0.5s ease;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 35%;
}

.container{
    width: 100%;
    max-width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
}

.container .card{
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 2px black;
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
    transition: all 0.25s;
    float: left;
    margin: 2px;
    margin-bottom: 10px;
    background-color: white;
}

.container .card:hover{
    transform: translate(-5px);
    box-shadow: 0 12px 16px black;
}

.container .card img{
    width: 250px;
}

.container .card h3{
    font-weight: 800;
}

.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0.2rem;
    font-size: 14px;
}

.container .card a{
    margin: 10px;
    background: #9C19E0;
    color: white;
    padding: 8px 6px;
    text-align: center;
    display: inline-block;
    border-bottom: 6px solid #700B97;
    font-size: 16px;
    border-radius: 30px;
}

.container .card a:hover{
    background: #700B97;
    border-bottom: 6px solid #3E065F;
}

.card form input[type="submit"]{ /*Style button form*/
    /*margin-top: 1rem;*/
    padding: 0.5rem;
    background: #950101;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;
    transition: all 0.5s ease;
    margin: 2%;
}

.card form input[type="submit"]:hover{ /*Style button form*/
    /*margin-top: 1rem;*/
    padding: 0.5rem;
    background: #FF0000;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 5px;
    transition: all 0.5s ease;
    margin: 2%;
}


/*Footer*/

.w501{
    width: 50%;
    height: 100%;
    float: left;
}

.w502{
    width: 50%;
    height: 100%;
    float: right;
}


.divider{
    margin: 3.5%;
}

.footer1{
    position: absolute;
    padding: 10px 0;
    width: 100%;
    background: #700B97;
    color: white;
    text-align: center;
}

.footer1 a{
    color: white;
    text-align: center;
}

.footer2{
    position: absolute;
    width: 100%;
    background: #3E065F;
    color: white;
    text-align: center;
}
